   <div class="brandname">
      <h1>Sushi Supply</h1>
   </div>
   <nav>
      <ul>
         <% if (currentUser){%>
            <li><p>Welcome, <%=currentUser%>!</p></li>
            <li>
               <form class="button" action="/sessions/logout?_method=DELETE" method="post">
                  <input type="submit" name="" value="Sign-out">
               </form>
            </li>
            <li>
               <a href="/store/cart">View cart</a>
            </li>
            <%} else {%>
               <li>
                  <a href="/sessions/login">Log in</a>
               </li>
               <li><a href="/users/registration">Register</a></li>
            <%}%>
      </ul>
   </nav>
