<div class="landing">
   <div class="background">
      <%if (currentUser) {%>
         <a class="btn" href="/lfs/request"><h2>Reserve a Chef</h2></a>
         <a class="btn" href="/lfs/dashboard/<%=currentUser%>"><h2>Check my reservations</h2></a>
      <%} else{%>
         <div id="make">
            <h2 >"I want to make sushi" </h2><a class"btn" href="/store">Shop</a>
         </div>
         <div id="hire">
            <h2 >"I want to hire a pro"</h2><a class"btn" href="/sessions/login">Reserve </a>
         </div>
      <%}%>
   </div>
</div>
