<div class="landing">
   <%if (currentUser) {%>
      <div class="member">
         <a id="member1" href="/lfs/request"><h2>Reserve a Chef</h2></a>
         <a id="member2" href="/lfs/dashboard/<%=currentUser%>"><h2>My reservations</h2></a>
         <a id="member3" class="shopBtn"><h2 class="shopBtn">Shop</h2></a>
      </div>
      <%} else{%>
      <div class="background">
         <div id="make">
            <h2 >"I want to make sushi" </h2><a><h3 class ="shopBtn">Shop</h3></a>
         </div>
         <div id="hire">
            <h2 >"I want to hire a pro"</h2><a href="/sessions/login"><h3>Reserve</h3></a>
         </div>
      <%}%>
   </div>
</div>
