<div class="side-menu">
   <h4>Shop</h4>
   <ul>
      <li>Knives</li>
      <li>Rice-making</li>
      <li>Parishables</li>
      <li>Tools</li>
      <li>Books</li>
      <li>Thingamajigs</li>
   </ul>
</div>
