<div class="side-menu">
   <h4 id="shopBtn">Shop</h4>
   <ul id="filters">
      <li id="filter1"><a  href="/store/knives">Knives</a></li>
      <li id="filter2"><a  href="/store/rice">Rice</a></li>
      <li id="filter3"><a  href="/store/food">Ingredients</a></li>
      <li id="filter4"><a  href="/store/tools">Tools</a></li>
      <li id="filter5"><a  href="/store/books">Books</a></li>
   </ul>
</div>
