<div class="side-menu">
   <h4 id="shopBtn">Shop</h4>
   <ul id="filters">
      <li>Knives</li>
      <li>Rice-making</li>
      <li>Parishables</li>
      <li>Tools</li>
      <li>Books</li>
   </ul>
</div>
