<div class="side-menu">
   <h4 id="shopBtn">Shop</h4>
   <ul id="filters">
      <li id="filter1"><a  href="#">Knives</a></li>
      <li id="filter2"><a  href="#">Rice</a></li>
      <li id="filter3"><a  href="#">Ingredients</a></li>
      <li id="filter4"><a  href="#">Tools</a></li>
      <li id="filter5"><a  href="#">Books</a></li>
   </ul>
</div>
