<div class="side-menu">
   <h4>Category</h4>
   <ul>
      <li>Stuff</li>
      <li>Doohikies</li>
      <li>Things</li>
      <li>Watchacallits</li>
      <li>Dingdads</li>
      <li>Thingamajig</li>
   </ul>
</div>
