<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="/css/main.css">
   </head>
   <body>
      <header>
   <%- include ('./partials/header.ejs') %>
      </header>
      <div class="landing">
         <%if (currentUser) {%>
            <a class="btn" href="/lfs/request">Reserve a Chef</a>
            <a class="btn" href="/lfs/dashboard/<%=currentUser%>">Check my reservations</a>
         <%} else{%>
            <p><a href="/users/registration">Register</a> to reserve a chef today. Or <a href="/sessions/login">sign-in</a></p>
         <%}%>
      </div>
      <div class="main">
      <%- include ('./partials/side-menu.ejs') %>
         <div class="content">
            <h1>Content here</h1>
            <div class="menu">
            </div>
         </div>
      </div>
   </body>
</html>
