<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/css/main.css">
      <title></title>
   </head>
   <body>
      <header>
         <%- include ('./partials/header.ejs') %>
      </header>
      <div class="landing">
         <h1>Log in</h1>
         <form class="signup" action="/sessions/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" name="" value="Enter">
         </form>
         <a href="/lfs">Back</a>
      </div>
      <div class="main">
         <%- include ('./partials/side-menu.ejs') %>
         <div class="content">
            <h4>Content</h4>
         </div>
      </div>
   </body>
</html>
