<!DOCTYPE html>
<html lang="en" dir="ltr">
   <%- include ('./partials/head.ejs') %>
   <body>
      <header>
         <%- include ('./partials/header.ejs') %>
      </header>
      <div class="landing">
         <h1>Register</h1>
         <form class="signup" action="/users" method="post">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <label for="email">e-mail</label>
            <input type="email" name="email">
            <input type="submit" name="" value="Register">
         </form>
         <a href="/store">Back</a>
      </div>
      <div class="main">
         <%- include ('./partials/side-menu.ejs') %>
         <div class="content">
         </div>
      </div>
   </body>
</html>
