<!DOCTYPE html>
<html lang="en" dir="ltr">
   <%- include ('./partials/head.ejs') %>
   <body>
      <header>
         <nav>
         </nav>
      </header>
      <div class="main">
         <div class="content">
            <form class="request" action="/lfs" method="post">
               <label for="name">Name</label>
               <input type="text" name="name" value="">
               <label for="date">Date</label>
               <input type="datetime-local" name="date" value="">
               <label for="guests">Number of guests</label>
               <input type="number" name="guests" value="">
               <label for="allergies">Allergies</label>
               <input type="text" name="allergies" value="">
               <label for="notes">Notes</label>
               <textarea name="note" rows="8" cols="60">Any special requests or comments.</textarea>
               <br>
               <input type="submit" name="" value="Submit">
            </form>
         </div>
      </div>
   </body>
</html>
