*{
   font-family: Helvetica;
}

body{
   margin: 0;
}

header {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
   border-bottom: 1px solid black;
   background-color: white;
   padding-left: 3%;
   padding-right: 3%;
}

.brandname{
   color: #bd0f0f;
}

header h1{
   font-family: 'Permanent Marker', cursive;
}

ul {
   list-style-type: none;
   padding-inline-start: 0;
}

nav a{
   color: #bd0f0f;
}
header li {
   display: inline;
   margin-left: .5em;
   margin-right: .5em;
}

header ul{
display: flex;
flex-direction: row;
align-items: center;
}

a {
   text-decoration: none;
   color: black;
}
.main {
   display: flex;
   flex-direction: row;
}

.side-menu {
   margin-right: 2%;
   margin-top: 1.5em;
}

.side-menu li{
   margin: .5em;
}

.side-menu h4{
   margin: .5em;
}

.landing {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.member{
   display: flex;
   justify-content: center;
   padding-top: 1em;
   padding-bottom: 1em;
   width: 100%;
   background-color: black;
   text-shadow: 1px 1px 1px black;
}

.member >*{
   margin: 1em;
}

.member h2{
   margin: 0;
   font-weight: normal;
}
.member a{
   color:white;
   border:1px solid white;
   border-radius: 10px;
   padding: .7em;
   transition: .3s;
   font-size: .6em;
}

.member a:hover{
   border: 1px solid rgba(255,255, 255, 0);
}

#member1:hover {
   background-color:#bd0f0f;
}

#member3:hover {
   background-color:#72d470;
}

#member2:hover {
   background-color:#ff7092;
}

.background{
   background-image: linear-gradient(to bottom, rgba(277,184, 207, 0.1), rgba(0, 0, 0, 0.7)), url("/images/chef-work.jpg");
   background-size: cover;
   width: 100%;
   height: 350px;
   background-position: center;
   display: flex;
   justify-content: space-evenly;
}

.background >*{
   display: flex;
   color:white;
   align-items: center;
   text-align: center;
   margin:.5em;
   text-shadow: 1px 1px 2px black;
   user-select: none;
}

.background a{
   color: white;
   border: 2px solid rgba(255,255, 255, 1);
   border-radius: 10px;
   padding: .5em;
   transition: .3s;
   font-weight: normal;
   font-size: .9em;
}

.background a:hover{
   background-color: #8a1212;
   border: 2px solid rgba(255,255, 255, 0);
   cursor: pointer;
}

#hire a:hover{
   background-color:#ff6f00;
}

#make, #hire{
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.content h1 {
   text-align: center;
}

.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 3;
}

.request{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.request, .signup{
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
}


.signup{
   width: 15em;
}

.reservation{
   display: flex;
   align-self: center;
   align-items: baseline;
   justify-content: flex-end;
}

.reservation a, .reservation p{
   margin: 1em;
}

.details{
   display:flex;
   flex-direction: row;
}

.details div{
   margin: 1em;
}

.details h4{
   margin-bottom: .2em;
}

.details p{
   margin-top: .4em;
}

.card img{
   max-width: 10em;

}

.card{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   max-width: 17em;
}

.card-top{
   display: flex;
   flex-direction: column;
}
.card-bottom  {
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.card-image{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.card-bottom > *{
   margin: .5em;
}

.store{
   display: flex;
   flex-wrap: wrap;
}

.store > *{
   margin: 1em;
}

.low{
   color:red;
}

.side-menu{
   position: relative;
   right: 105px;
   transition: .8s;
   user-select: none;
}

.side-menu.is-active{
   transform: translateX(105px);
}
