*{
   font-family: Helvetica;
}

body{
   margin: 0;
}

header {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
   border-bottom: 1px solid black;
   background-color: white;
   padding-left: 3%;
   padding-right: 3%;
}

.brandname a, header p{
   color: #bd0f0f;
}

.brandname a{
   font-family: 'Permanent Marker', cursive;
}

ul {
   list-style-type: none;
   padding-inline-start: 0;
}

nav a {
   padding: .1em;
   padding-left: .4em;
   padding-right: .4em;
   font-size: .87em;
}

input[type=submit], nav a {
   color: #bd0f0f;
   background-color: white;
   border: 1px solid #bd0f0f;
   border-radius: 3px;
}


input[type=submit]:hover{
   color: white;
   background-color: #bd0f0f;
   cursor: pointer;
}

nav a:hover{
   color: white;
   background-color: #bd0f0f;
}

header li {
   display: inline;
   margin-left: .5em;
   margin-right: .5em;
}

header ul{
display: flex;
flex-direction: row;
align-items: center;
}

a {
   text-decoration: none;
   color: black;
}
.main {
   display: flex;
   flex-direction: row;
}



.landing {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.member{
   display: flex;
   justify-content: center;
   padding-top: 1em;
   padding-bottom: 1em;
   width: 100%;
   background-color: black;
   text-shadow: 1px 1px 1px black;
}

.member >*{
   margin: 1em;
   user-select: none;
}

.member h2{
   margin: 0;
   font-weight: normal;
}
.member a{
   color:white;
   border:1px solid white;
   border-radius: 5px;
   padding: .7em;
   transition: .3s;
   font-size: .6em;
}

.member a:hover{
   border: 1px solid rgba(255,255, 255, 0);
}



#member1:hover {
   background-color:#bd0f0f;
}

#member3:hover {
   background-color:#72d470;
   cursor: pointer;
}

#member2:hover {
   background-color:#ff7092;
}



.background{
   background-image: linear-gradient(to bottom, rgba(277,184, 207, 0.1), rgba(0, 0, 0, 0.7)), url("/images/chef-work.jpg");
   background-size: cover;
   width: 100%;
   height: 350px;
   background-position: center;
   display: flex;
   justify-content: space-evenly;
}

.background >*{
   display: flex;
   color:white;
   align-items: center;
   text-align: center;
   margin:.5em;
   text-shadow: 1px 1px 2px black;
   user-select: none;
}

.background a{
   color: white;
   border: 2px solid rgba(255,255, 255, 1);
   border-radius: 10px;
   padding: .5em;
   transition: .3s;
   font-weight: normal;
   font-size: .9em;
}

.background a:hover{
   background-color: #8a1212;
   border: 2px solid rgba(255,255, 255, 0);
   cursor: pointer;
}

.background h3{
   margin: 0;
   font-weight: normal;
}

#hire a:hover{
   background-color:#ff6f00;
}

#make, #hire{
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.content h1 {
   text-align: center;
}

.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 3;
}

.request{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.request, .signup{
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
}


.signup{
   width: 15em;
}

.reservation{
   display: flex;
   align-self: center;
   align-items: baseline;
   justify-content: space-between;
}

.reservation a, .reservation p{
   margin: 1em;
}

.details{
   display:flex;
   flex-direction: row;
}

.details div{
   margin: 1em;
}

.details h4{
   margin-bottom: .2em;
}

.details p{
   margin-top: .4em;
}

.card img{
   max-width: 10em;

}

.card{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   max-width: 17em;
}

.card-top{
   display: flex;
   flex-direction: column;
}
.card-bottom  {
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.card-image{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.card-bottom > *{
   margin: .5em;
}

.store{
   display: flex;
   flex-wrap: wrap;
   margin-left: 2em;
}

.store > *{
   margin: 1em;
}

.low{
   color:red;
}

.cart {
   font-size: .8em;
}

.cart h3{
   text-align: center;
}

.side-menu{
   display: flex;
   flex-direction: column;
   margin: 0;
   margin-top: 1.5em;
   position: relative;
   right:118px;
   transition: .8s;
   user-select: none;
   height: 214px;
   padding-left: 1em;
}

.side-menu h4{
   margin: .5em;
   margin-left: .9em;
}
.side-menu.is-active{
   transform: translateX(100px);
}

.side-menu li{
   margin: .5em;
   padding: .3em;
   border-radius: 2px;
   transition: .2s;
}

.side-menu a{
   color: black;
   font-weight:normal;
}

#filter1{
   border-right: 4px solid #bd0f0f;
}
#filter2{
   border-right: 4px solid #ff8e47;
}
#filter3{
   border-right: 4px solid #ffe4de;
}
#filter4{
   border-right: 4px solid #fcd303;
}
#filter5{
   border-right: 4px solid #ffa1a1;
}

#filter1:hover {
  background-color: #fc5d5d;
  transform: translateX(8px);
}
#filter2:hover {
  background-color: #fcb283;
  transform: translateX(8px);
}
#filter3:hover {
  background-color: #fff0ed;
  transform: translateX(8px);
}
#filter4:hover {
  background-color: #ffea80;
  transform: translateX(8px);
}
#filter5:hover {
  background-color:#fcd2d2;
  transform: translateX(8px);
}

#filters{
   margin: 0;
}

.button {
   padding: .1em;
   padding-left: .4em;
   padding-right: .4em;
   font-size: .87em;
   color: #bd0f0f;
   background-color: white;
   border: 1px solid #bd0f0f;
   border-radius: 3px;
}

.button:hover{
   color: white;
   background-color: #bd0f0f;
}

.signup >* {
   margin-top: .4em;
   margin-bottom: .4em;
}

.signup [type=submit]{
   margin-top: 1em;
   max-width: 5em;
   align-self: center;
   padding-top: .2em;
}

.landing h1{
   font-family: 'Permanent Marker', cursive;
   color: #bd0f0f;
}

.request {
   margin-top: 1em;
}

@media only screen and (max-width: 510px) {
  header ul {
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
  }

  nav li {
     margin-bottom: .6em;
  }

 .card, .card img {
    max-width: 50%;
  }

  .store {
   margin-left: 0;
   }

   .reservation {
   max-width: 40%;
   font-size: .8em;
   }
}
